<center>
    <p>&copy;PDHN</p>
</center>

</body>
<script src = "http://localhost:84/facturacion/Sistem/Resource/js/jquery.validate.js"></script>
<script src = "http://localhost:84/facturacion/Sistem/Resource/js/config.js"></script>
<script src = "http://localhost:84/facturacion/Sistem/Resource/js/funciones.js"></script>
<script src = "http://localhost:84/facturacion/Sistem/Resource/js/Uploadpicture.js"></script>
<script src = "http://localhost:84/facturacion/Sistem/Resource/js/Usuarios.js"></script>
<script src = "http://localhost:84/facturacion/Sistem/Resource/js/Principal.js"></script>
<script src = "http://localhost:84/facturacion/Sistem/Resource/js/app.js"></script>
</html>
